.account-container {
    max-width: 700px;
    margin: 5rem auto;
    text-align: center;
  }
  
  .profile-icon {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }
  
  #userId {
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
    color: #444;
  }
  
  .logout-btn {
    padding: 0.6rem 1.2rem;
    background-color: #883929;
    border: none;
    color: white;
    font-size: 1.15rem;
    font-weight: bold;
    border-radius: 6px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .button-group button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.15rem;
    background-color: #f4e2dc;
    cursor: pointer;
    width: 180px; /* 고정 너비 설정 */   
    text-align: center;
  }
  